@media only screen and (max-width: 800px) {
 .navbar{
   flex-direction: column-reverse;
 }
 .bigCircle{
   display: none;
 }
 body{
   margin: 0 10%;
 }
}
@media only screen and (max-width: 500px) {

}